* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: $content-width;
  margin: 0 auto;
  // min-height: 200px;
  // background-color: beige;
}

/* begin font families */
@font-face {
  font-family: GillSans;
  src: url(../scss/fonts/GillSans.ttc);
}

@font-face {
  font-family: ProximaNova;
  src: url(../scss/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@font-face {
  font-family: ProximaNovaThin;
  src: url(../scss/fonts/Proxima-Nova-Thin.otf);
}
